entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["u-root-cmds"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Up Bank Automation"

[[workflows.workflow]]
name = "Run Up Bank Automation"
author = 45548259
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 443
