entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["unzipNLS"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
deploymentTarget = ["cloudrun"]
run = ["python3 UpArtbitrage_Deployed/Up-Artbitrage/main.py"]
language = ["python3"]